body{
	margin-left: 7%;
	margin-right: 7%;
	margin-top: 30px;
	padding: 20px;
	border: 10px solid #bdc3c7;
	font-family: 'Major Mono Display', monospace;
}

.date{
	color: #3498db;
	text-transform: uppercase;
	font-family: 'Major Mono Display', monospace;
	
}
h2{
	color: #2c3e50;
}
.sideMark{
	border-left: 10px solid #bdc3c7;
}
p{
	font-family: 'Raleway', sans-serif;
}