.ehsanImg{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 20%;
}
#nameee{
	font-family: 'Ubuntu', sans-serif;
	color: #3498db;
    /*text-transform: uppercase;*/
}
p{
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
}
.blabla{
	margin: 10px;
}